.gitattributes
Qt7z/* linguist-vendored
doc/* linguist-vendored

# QuickViewer has historically used a mix of LF and CRLF. Treat CR as part of
# the line ending when checking whitespace in the formatter's target trees.
QuickViewer/** whitespace=blank-at-eol,blank-at-eof,space-before-tab,cr-at-eol
qvtest/** whitespace=blank-at-eol,blank-at-eof,space-before-tab,cr-at-eol
