[submodule "third_party/resizehalf"]
	path = third_party/resizehalf
	url = https://github.com/chikuzen/ResizeHalf
[submodule "third_party/zimg"]
	path = third_party/zimg
	url = https://github.com/sekrit-twc/zimg
[submodule "third_party/easyexif"]
	path = third_party/easyexif
	url = https://github.com/mayanklahiri/easyexif
[submodule "third_party/luminor/luminor"]
	path = third_party/luminor/luminor
	url = https://github.com/kanryu/luminor
[submodule "third_party/lib7zip"]
	path = third_party/lib7zip
	url = https://github.com/kanryu/lib7zip
[submodule "third_party/resvg"]
	path = third_party/resvg
	url = https://github.com/linebender/resvg.git
[submodule "third_party/libspng"]
	path = third_party/libspng
	url = https://github.com/randy408/libspng
[submodule "third_party/zlib"]
	path = third_party/zlib
	url = https://github.com/madler/zlib.git
