# Normalize all text files to LF in the repository and working tree.
* text=auto eol=lf

# Windows command scripts require/prefer CRLF.
*.bat text eol=crlf
*.cmd text eol=crlf

# Vendored sources.
Qt7z/* linguist-vendored
doc/* linguist-vendored
