[submodule "ResizeHalf/ResizeHalf"]
	path = ResizeHalf/ResizeHalf
	url = https://github.com/chikuzen/ResizeHalf
[submodule "third_party/zimg"]
	path = third_party/zimg
	url = https://github.com/sekrit-twc/zimg
[submodule "easyexif/easyexif"]
	path = easyexif/easyexif
	url = https://github.com/mayanklahiri/easyexif
[submodule "third_party/luminor/luminor"]
	path = third_party/luminor/luminor
	url = https://github.com/kanryu/luminor
[submodule "Qt7z/Qt7z/lib7zip"]
	path = Qt7z/Qt7z/lib7zip
	url = https://github.com/kanryu/lib7zip
[submodule "resvg/resvg"]
	path = resvg/resvg
	url = https://github.com/linebender/resvg.git
[submodule "spng/libspng"]
	path = spng/libspng
	url = https://github.com/randy408/libspng
[submodule "spng/zlib"]
	path = spng/zlib
	url = https://github.com/madler/zlib.git
